ul {
	display: flex;

	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	justify-content: space-between;
	align-content:space-around;
	align-items:center; 
	width: 100%;
	background-color: white;
	border-radius: 15px;
	margin-top: 100px;
}
li {
	flex-grow: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 170px;
	margin:8px 0;
	border-radius: 8px;
	transition: background-color 0.5s ease;

}
.vrapper {
	width: 500px ;
	height: 4000px;
	padding: 0;
	margin: auto ;

}
.price {
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	color:blue;
	opacity: 0.6;

}
sub {
	margin: 8px 0 0 0;
}
sup {
	margin: 0 0 8px 0;

}
h5 {
	margin: 0;
	color:blue;
	opacity: 0.6;
}
.photo {
	margin: 0 auto;
	justify-content: center;

}
p {
	height: 68px;
	font-size: 12px;
	color:grey;
	opacity: 0.6;
	margin-top: 20px;
	transition: color 0.5s ease;
	margin-bottom: 0px;
}
li:first-child {
	margin-left: 8px;
}
li:last-child {
	margin-right: 8px;
}
body {
	background-color: skyblue;
}
li:hover {
	background-color: grey;
	opacity: 0.8;
}
p:hover {
	color: black;
	opacity: 0.5;
}